<!DOCTYPE html>
<html>
<head>
    <title>
        Temperature Converter</title>
</head>
<body>
    <h1>Temperature Converter</h1>
    <form method = "post">
        <br><br>
        <label>Select Conversion:</label>
        <select name="conversion_type">
            <option value="C_to_F">Celsius to Fahrenheit</option>
            <option value="F_to_C">Fahrenheit to Celsius</option>
            <option value="C_to_K">Celsius to Kelvin</option>
            <option value="K_to_C">Kelvin to Celsius</option>
            <option value="F_to_K">Fahrenheit to Kelvin</option>
            <option value="K_to_F">Kelvin to Fahrenheit</option>
        </select>
        <br><br>
        <label>Enter Temperature:</label>
        <input type="text" name="temperature" required>
        <br><br>
        <button type="submit" value="Convert">Convert</button>
    </form>
    {% if result %}
        <h2>Original: {{ request.form['temperature'] }} {{ original_unit }} = Converted: {{ result }} {{ target_unit }}</h2>
    {% endif %}
</body>
</html>